---
type InputType =
  | "text"
  | "email"
  | "password"
  | "tel"
  | "url"
  | "number"
  | "search"
  | "date"
  | "time"
  | "checkbox"
  | "radio";

interface Field {
  name: string;
  label: string;
  type: InputType;
  required: boolean;
}

interface AuthFormProps {
  action: string;
  method: string;
  fields: Field[];
}

const { action, method, fields }: AuthFormProps = Astro.props as AuthFormProps;
---

<form action={action} method={method}>
  {
    fields.map((field) => (
      <div>
        <label for={field.name}>{field.label}</label>
        <input
          type={field.type}
          name={field.name}
          id={field.name}
          required={field.required}
        />
      </div>
    ))
  }
  <button type="submit">Submit</button>
</form>
